<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" />
  </div>
  <clock></clock>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import HelloWorld from "@/components/HelloWorld.vue"; // @ is an alias to /src
import Clock from "@/components/clock.vue";
@Options({
  components: {
    HelloWorld,
    Clock,
  },
})
export default class Home extends Vue {}
</script>
