<template>
  clock {{ clock.hours }} : {{ clock.minutes }} : {{ clock.seconds }}
</template>

<script lang="ts">
import { onMounted } from "vue";
import { Options, Vue } from "vue-class-component";

@Options({})
export default class Clock extends Vue {
  name: string | undefined = "puto reloj";
  count = 0;

  clock = {
    hours: 0,
    minutes: 0,
    seconds: 0,
  };

  mounted() {
    setInterval(() => {
      let date: Date = new Date();
      this.clock.hours = date.getHours();
      this.clock.minutes = date.getMinutes();
      this.clock.seconds = date.getSeconds();
    }, 1000);
  }
}
</script>

<style scoped></style>
